---
# Only the main Sass file needs front matter (the dashes are enough)
---

.example_face {
  width: 56px;
  height: 66px;
  box-shadow: 0 0 0 1px black;
  background: black;
  border-right: 10px solid #FFFFFF;
  margin: 0 auto 4px;
  font-size: 33px;
  line-height: 30px;
  padding-top: 2px;
  padding-right: 2px;
  color: #FF5500;
  text-align: right;
  position: relative;

  &.light_bg {
    background: white;
    color: black;
  }

  &.sidebar_left {
    border-right: 0 none;
    border-left: 10px solid #FFFFFF;
  }
}


#preset_selector > .btn {
  width: 49%;
  margin-bottom: 3px;
}

.sp-preview {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

 .sp-preview-inner {
  border-radius: 3px;
}

.sp-palette {
  max-width: 350px;

  .sp-thumb-el {
    width: 30px;
    height: 30px;
  }
}


.nav-tabs {
  margin-bottom: 15px;
}

.navbar-inverse {
  box-shadow: 0 -8px 11px 7px black;
  border: none;

  .navbar-text {
    color: white;
    font-size: 16px;
    line-height: 19px;
  }
}


#close_button, #reset_button {
  background-color: #444;
  color: white;
}
