---
layout: default
title: "TimeStyle Settings"
---

<body style="padding: 70px 0;">
{% include config_navbar.html %}

<div class="container">
  {% include version_warning.html %}

<form>
  {% include config_theme_bw.html %}
  {% include config_sidebar_layout_rect.html %}
  {% include config_common_options.html %}
</form>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="lib/spectrum/spectrum.js"></script>
<script>
$(".colorpicker").spectrum({
    allowEmpty: true,
    showPaletteOnly: true,
    preferredFormat: "hex",
    hideAfterPaletteSelect: true,
    change: function(color) {
        // if we change a custom color, deselect any preset_selector
        $('#preset_selector > .active').removeClass('active');
    },
    palette: [
        ["#000000", "#AAAAAA", "#FFFFFF"]
    ]
});
</script>
{% include analyticstracking.html %}
<script>
  var has_health = false;
</script>
<script src="js/config.js"></script>
</body>
</html>
