---
layout: default
title: "TimeStyle Settings"
---

<body style="padding: 70px 0;">
{% include config_navbar.html %}

<div class="container">
<form>
  {% include config_theme_color.html %}

  {% include config_misc_options.html %}
</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="spectrum/spectrum.js"></script>
<script>
$(".colorpicker").spectrum({
    allowEmpty: true,
    showPaletteOnly: true,
    preferredFormat: "hex",
    hideAfterPaletteSelect: true,
    change: function(color) {
        // if we change a custom color, deselect any preset_selector
        $('#preset_selector > .active').removeClass('active');
    },
    palette: [
        ["#000000", "#555555", "#AAAAAA", "#FFFFFF", "#FF0000", "#FF5555", "#550000",
        "#AA0000", "#FFAAAA", "#AA5555", "#FF5500", "#AA5500", "#FFAA55", "#FFAA00",
        "#FFFF00", "#AAAA55", "#FFFF55", "#555500", "#FFFFAA", "#AAAA00", "#AAFF00", "#AAFF55", "#55AA00", "#55FF00",
        "#005500", "#00FF00", "#AAFFAA", "#55FF55", "#55AA55", "#00AA00", "#005500",
        "#00FF55", "#00AA55", "#55FFAA", "#00FFAA", "#55AAAA", "#00AAAA", "#005555",
        "#AAFFFF", "#00FFFF", "#55FFFF", "#00AAFF", "#55AAFF", "#0055AA", "#0055FF",
        "#0000AA", "#AAAAFF", "#000055", "#5555FF", "#5555AA", "#5500FF", "#5500AA",
        "#AA55FF", "#AA00FF", "#FF55FF", "#FFAAFF", "#AA55AA", "#AA00AA", "#550055",
        "#FF00FF", "#FF00AA", "#FF55AA", "#AA0055", "#FF0055",
        ]
    ]
});
</script>
<script src="js/config.js"></script>
</body>
</html>
