<hr>
<label>Sidebar </label>
<div id="sidebar_position_setting" class="form-group">
  <div class="btn-group btn-group-justified"  data-toggle="buttons">
    <label class="btn btn-default" data-setting="right">
      <input type="radio" name="options" id="option2" autocomplete="off">
      <div class="example_face"></div>
      Right
    </label>
    <label class="btn btn-default" data-setting="left">
      <input type="radio" name="options" id="option1" autocomplete="off">
      <div class="example_face sidebar_left"></div>
      Left
    </label>
  </div>
</div>
<label>Battery Meter</label>
<div id="battery_meter_setting" class="form-group" >
  <div class="btn-group btn-group-justified"  data-toggle="buttons">
    <label class="btn btn-default" data-setting="no" >
      <input type="radio" name="options" autocomplete="off">
      <div class="example_face"></div>
      None
    </label>
    <label class="btn btn-default" data-setting="yes" >
      <input type="radio" name="options" autocomplete="off">
      <div class="example_face with_battery_meter"></div>
      Icon
    </label>
    <label class="btn btn-default" data-setting="yes-with-pct" >
      <input type="radio" name="options" autocomplete="off">
      <div class="example_face with_battery_meter with_battery_pct"></div>
      Icon &amp; percent
    </label>
  </div>
</div>
<label>Battery Meter Options</label>
<div id="only_show_battery_when_low_setting" class="form-group">
  <div class="btn-group btn-group-justified"  data-toggle="buttons">
    <label class="btn btn-default" data-setting="no">
      <input type="radio" name="options" id="option2" autocomplete="off">
      Always show
    </label>
    <label class="btn btn-default" data-setting="yes">
      <input type="radio" name="options" id="option1" autocomplete="off">
      Only show when low
    </label>
  </div>
</div>
<hr>
<label>Weather</label>
<a href="https://www.yahoo.com/?ilc=401" target="_blank"> <img src="https://poweredby.yahoo.com/purple_retina.png" width="134" height="29"/> </a>
<div id="weather_setting" class="form-group" >
  <div class="btn-group btn-group-justified"  data-toggle="buttons">
    <label class="btn btn-default" data-setting="auto" >
      <input type="radio" name="options" autocomplete="off"> Automatic location (GPS)
    </label>
    <label class="btn btn-default" data-setting="manual" >
      <input type="radio" name="options" autocomplete="off" id="weather_setting_manual"> Manual location
    </label>
    <label class="btn btn-default" data-setting="disable" >
      <input type="radio" name="options" autocomplete="off"> Disabled
    </label>
  </div>
  <div class="form_group collapse" id="manual_weather_loc_setting_area">
    <input type="text" class="form-control" style="margin-top: 15px" id="weather_loc" placeholder='e.g. "San Francisco CA US", or "94101 US"'>
  </div>
</div>
<label>Temperature Unit</label>
<div id="units_setting" class="form-group" >
  <div class="btn-group btn-group-justified"  data-toggle="buttons">
    <label class="btn btn-default" data-setting="f" >
      <input type="radio" name="options" autocomplete="off"> Fahrenheit
    </label>
    <label class="btn btn-default" data-setting="c" >
      <input type="radio" name="options" autocomplete="off"> Celsius
    </label>
  </div>
</div>
<hr>
<label>Leading Zero</label>
<div id="time_leading_zero_setting" class="form-group" >
  <div class="btn-group btn-group-justified"  data-toggle="buttons">
    <label class="btn btn-default" data-setting="no" >
      <input type="radio" name="options" autocomplete="off">
      <div class="example_face">6<br>32</div>
      No leading zero
    </label>
    <label class="btn btn-default" data-setting="yes" >
      <input type="radio" name="options" autocomplete="off">
      <div class="example_face">06<br>32</div>
      With leading zero
    </label>
  </div>
</div>
<label>Font</label>
<div id="clock_font_setting" class="form-group" >
  <div class="btn-group btn-group-justified"  data-toggle="buttons">
    <label class="btn btn-default" data-setting="default" >
      <input type="radio" name="options" autocomplete="off">
      <img class="example_img" src="images/font-preview-default.png" width="56" height="66">
      Default (Avenir)
      </label>
    <label class="btn btn-default" data-setting="leco" >
      <input type="radio" name="options" autocomplete="off">
      <img class="example_img" src="images/font-preview-leco.png" width="56" height="66">
      LECO
    </label>
  </div>
</div>
<hr>
<label>Sidebar Text Size</label>
<div id="use_large_sidebar_font_setting" class="form-group" >
  <div class="btn-group btn-group-justified"  data-toggle="buttons">
    <label class="btn btn-default" data-setting="no" >
      <input type="radio" name="options" autocomplete="off">
      <img class="example_img" src="images/sidebar-preview-default.png" width="56" height="66">
      Normal
      </label>
    <label class="btn btn-default" data-setting="yes" >
      <input type="radio" name="options" autocomplete="off">
      <img class="example_img" src="images/sidebar-preview-large.png" width="56" height="66">
      Large
      </label>
  </div>
</div>
<hr>
<label>Vibration</label><br>
<label>If the connection to the phone is lost</label>
<div id="bluetooth_vibe_setting" class="form-group" >
  <div class="btn-group btn-group-justified"  data-toggle="buttons">
    <label class="btn btn-default" data-setting="no" >
      <input type="radio" name="options" autocomplete="off">No vibration
    </label>
    <label class="btn btn-default" data-setting="yes" >
      <input type="radio" name="options" autocomplete="off">Vibrate on bluetooth disconnect
    </label>
  </div>
</div>
<label>On interval</label>
<div id="hourly_vibe_setting" class="form-group" >
  <div class="btn-group btn-group-justified"  data-toggle="buttons">
    <label class="btn btn-default" data-setting="no" >
      <input type="radio" name="options" autocomplete="off">No vibration
    </label>
    <label class="btn btn-default" data-setting="half" >
      <input type="radio" name="options" autocomplete="off">Vibrate every 30 minutes
    </label>
    <label class="btn btn-default" data-setting="yes" >
      <input type="radio" name="options" autocomplete="off">Vibrate every hour
    </label>
  </div>
</div>
<hr>
<label>Language</label>
<select id="language_selection" class="form-control">
  <option data-setting="-1" selected>(No change)</option>
  <option data-setting="0">English</option>
  <option data-setting="1">Français</option>
  <option data-setting="2">Deutsch</option>
  <option data-setting="3">Español</option>
  <option data-setting="4">Italiano</option>
  <option data-setting="5">Nederlands</option>
  <option data-setting="6">Türkçe</option>
  <option data-setting="7">Čeština</option>
  <option data-setting="12">Slovenčina</option>
  <option data-setting="8">Português</option>
  <option data-setting="10">Svenska</option>
  <option data-setting="11">Polski</option>
  <option data-setting="9">Ελληνικά (requires language pack)</option>
  <option data-setting="14">Română</option>
  <option data-setting="13">Tiếng Việt</option>
</select>
