<label>Theme</label>
<div id="ColorSelectorTabContent" class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="tab_presetcolors" aria-labelledBy="home-tab">
    <div class="form-group">
      <div id="preset_selector" data-toggle="buttons">
        <div id="presets_scroller_outer">
          <div id="presets_scroller_inner" style="width: 1000px">
          <div class="presets_group">

        <label class="btn btn-default" data-time-color="#FFFFFF" data-time-bg-color="#000000" data-sidebar-color="#FFFFFF">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #FFFFFF; background-color: #000000; border-color: #FFFFFF;">6<br>32</div>
          Contrast
        </label>

        <label class="btn btn-default" data-time-color="#FFFFFF" data-time-bg-color="#000000" data-sidebar-color="#000000" data-sidebar-text-color="#FFFFFF">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #FFFFFF; background-color: #000000; border-color: #000000;">6<br>32</div>
          Pure Dark
        </label>

        <label class="btn btn-default" data-time-color="#FFFFFF" data-time-bg-color="#000000" data-sidebar-color="#AAAAAA">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #FFFFFF; background-color: #000000; border-color: #AAAAAA;">6<br>32</div>
          Timeline-Dark
        </label>

        <label class="btn btn-default" data-time-color="#000000" data-time-bg-color="#FFFFFF" data-sidebar-color="#AAAAAA">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #000000; background-color: #FFFFFF; border-color: #AAAAAA;">6<br>32</div>
          Timeline
        </label>

        <label class="btn btn-default" data-time-color="#000000" data-time-bg-color="#FFFFFF" data-sidebar-color="#000000" data-sidebar-text-color="#FFFFFF">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #000000; background-color: #FFFFFF; border-color: #000000;">6<br>32</div>
          Invert
        </label>

        <label class="btn btn-default" data-time-color="#000000" data-time-bg-color="#FFFFFF" data-sidebar-color="#FFFFFF">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #000000; background-color: #FFFFFF; border-color: #FFFFFF;">6<br>32</div>
          Pure Light
        </label>

      </div>
      <div class="presets_group">
        <label class="btn btn-default" data-time-color="#AAAAAA" data-time-bg-color="#000000" data-sidebar-color="#FFFFFF">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #AAAAAA; background-color: #000000; border-color: #FFFFFF;">6<br>32</div>
          Daybreak
        </label>

        <label class="btn btn-default" data-time-color="#AAAAAA" data-time-bg-color="#000000" data-sidebar-color="#000000" data-sidebar-text-color="#FFFFFF">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #AAAAAA; background-color: #000000; border-color: #000000;">6<br>32</div>
           Midnight
        </label>

        <label class="btn btn-default" data-time-color="#AAAAAA" data-time-bg-color="#000000" data-sidebar-color="#AAAAAA">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #AAAAAA; background-color: #000000; border-color: #AAAAAA;">6<br>32</div>
          Shade
        </label>

        <label class="btn btn-default" data-time-color="#AAAAAA" data-time-bg-color="#FFFFFF" data-sidebar-color="#AAAAAA">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #AAAAAA; background-color: #FFFFFF; border-color: #AAAAAA;">6<br>32</div>
          Faded
        </label>

        <label class="btn btn-default" data-time-color="#AAAAAA" data-time-bg-color="#FFFFFF" data-sidebar-color="#000000" data-sidebar-text-color="#FFFFFF">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #AAAAAA; background-color: #FFFFFF; border-color: #000000;">6<br>32</div>
          Torn
        </label>

        <label class="btn btn-default" data-time-color="#AAAAAA" data-time-bg-color="#FFFFFF" data-sidebar-color="#FFFFFF">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #AAAAAA; background-color: #FFFFFF; border-color: #FFFFFF;">6<br>32</div>
          Clean
        </label>

      </div>
      <div class="presets_group">

        <label class="btn btn-default" data-time-color="#000000" data-time-bg-color="#AAAAAA" data-sidebar-color="#FFFFFF">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #000000; background-color: #AAAAAA; border-color: #ffffff;">6<br>32</div>
          Cumulus
        </label>

        <label class="btn btn-default" data-time-color="#000000" data-time-bg-color="#AAAAAA" data-sidebar-color="#000000" data-sidebar-text-color="#FFFFFF">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #000000; background-color: #AAAAAA; border-color: #000000;">6<br>32</div>
          Storm
        </label>

        <label class="btn btn-default" data-time-color="#000000" data-time-bg-color="#AAAAAA" data-sidebar-color="#AAAAAA">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #000000; background-color: #AAAAAA; border-color: #AAAAAA;">6<br>32</div>
          Overcast
        </label>

        <label class="btn btn-default" data-time-color="#FFFFFF" data-time-bg-color="#AAAAAA" data-sidebar-color="#FFFFFF">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #FFFFFF; background-color: #AAAAAA; border-color: #ffffff;">6<br>32</div>
          Cutout
        </label>

        <label class="btn btn-default" data-time-color="#FFFFFF" data-time-bg-color="#AAAAAA" data-sidebar-color="#000000" data-sidebar-text-color="#FFFFFF">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #FFFFFF; background-color: #AAAAAA; border-color: #000000;">6<br>32</div>
          Carbon
        </label>

        <label class="btn btn-default" data-time-color="#FFFFFF" data-time-bg-color="#AAAAAA" data-sidebar-color="#AAAAAA">
          <input type="radio" name="options" id="option1" autocomplete="off">
          <div class="example_face" style="color: #FFFFFF; background-color: #AAAAAA; border-color: #AAAAAA;">6<br>32</div>
          Stencil
        </label>

      </div>
      </div>
    </div>

</div>
</div>
</div>

<div class="hidden">
<label>Time Text Color</label>
<div class="form-group">
  <input type='text' id="time-color" class="colorpicker"/>
</div>
<label>Time Background Color</label>
<div class="form-group">
  <input type='text' id="time-bg-color" class="colorpicker"/>
</div>
<label>Sidebar Background Color</label>
<div class="form-group">
  <input type='text' id="sidebar-color" class="colorpicker"/>
</div>
<label>Sidebar Text Color (not shown in preview)</label>
<div class="form-group">
  <input type='text' id="sidebar-text-color" class="colorpicker"/>
</div>
</div>
