<label>Theme</label>
<div class="form-group">
  <div id="preset_selector" data-toggle="buttons">
    <label class="btn btn-default" data-time-color="#FFFFFF" data-time-bg-color="#000000" data-sidebar-color="#FFFFFF">
      <input type="radio" name="options" id="option1" autocomplete="off">
      <div class="example_face" style="color: #FFFFFF; background-color: #000000; border-color: #FFFFFF;">6<br>32</div>
      Default
    </label>

    <label class="btn btn-default" data-time-color="#000000" data-time-bg-color="#FFFFFF" data-sidebar-color="#000000">
      <input type="radio" name="options" id="option1" autocomplete="off">
      <div class="example_face" style="color: #000000; background-color: #FFFFFF; border-color: #000000;">6<br>32</div>
      Invert
    </label>

    <label class="btn btn-default" data-time-color="#FFFFFF" data-time-bg-color="#000000" data-sidebar-color="#000000">
      <input type="radio" name="options" id="option1" autocomplete="off">
      <div class="example_face" style="color: #FFFFFF; background-color: #000000; border-color: #000000;">6<br>32</div>
      Pure Dark
    </label>

    <label class="btn btn-default" data-time-color="#000000" data-time-bg-color="#FFFFFF" data-sidebar-color="#FFFFFF">
      <input type="radio" name="options" id="option1" autocomplete="off">
      <div class="example_face" style="color: #000000; background-color: #FFFFFF; border-color: #FFFFFF;">6<br>32</div>
      Pure Light
    </label>
  </div>
</div>
<div class="hidden">
  <div id="custom_preview_help" class="alert alert-info" role="alert">
    Select all three colors to see a preview
  </div>
  <div id="custom_preview" class="example_face hidden" style="margin: 13px">6<br>32</div>

  <label>Time Text Color</label>
  <div class="form-group">
    <input type='text' id="time-color" class="colorpicker"/>
  </div>
  <label>Time Background Color</label>
  <div class="form-group">
    <input type='text' id="time-bg-color" class="colorpicker"/>
  </div>
  <label>Sidebar Background Color</label>
  <div class="form-group">
    <input type='text' id="sidebar-color" class="colorpicker"/>
  </div>
</div>
