<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div id="toolbar_nochanges" class="container">
      <button type="button" id="close_button" class="btn navbar-btn pull-right">Cancel</button>
      <p class="navbar-text">TimeStyle Settings</p>
    </div>
    <div id="toolbar_haschanges" class="container hidden">
      <button type="button" id="save_button" class="btn btn-primary navbar-btn pull-right" style="margin-left: 5px">Send to watch</button>
      <button type="button" id="reset_button" class="btn navbar-btn pull-right">Clear</button>
      <p id="number_of_changes" class="navbar-text"></p>
    </div>
</nav>
