<hr>
<label>Complications</label>
<div id="sidebar_layout_section" class="rect">
  <div class="col">
    <div id="sidebar_layout_preview">
      <div id="widget_0_preview" class="widget_preview">
        <img src="images/sidebar_widgets/0-NONE.png" >
      </div>
      <div id="widget_1_preview" class="widget_preview">
        <img src="images/sidebar_widgets/0-NONE.png" >
      </div>
      <div id="widget_2_preview" class="widget_preview">
        <img src="images/sidebar_widgets/0-NONE.png" >
      </div>
    </div>
  </div>
  <img class="col" id="sidebar_preview_lines" src="images/lines.svg" height="155" />
  <div class="col">
    <select class="form-control" id="widget_0_selector">
      {% include widget_selector.html %}
    </select>
    <select class="form-control" id="widget_1_selector">
      {% include widget_selector.html %}
    </select>
    <select class="form-control" id="widget_2_selector">
      {% include widget_selector.html %}  
    </select>
  </div>
</div>
<hr>
<label>Sidebar Display</label><br>
<label class="subtle">Position</label>
<div id="sidebar_position_setting" class="form-group">
  <div class="btn-group btn-group-justified"  data-toggle="buttons">
    <label class="btn btn-default" data-setting="left">
      <input type="radio" name="options" id="option1" autocomplete="off">
      <div class="example_face sidebar_left"></div>
      Left
    </label>
    <label class="btn btn-default" data-setting="right">
      <input type="radio" name="options" id="option2" autocomplete="off">
      <div class="example_face"></div>
      Right
    </label></div>
</div>
<label class="subtle">Text Size</label>
<div id="use_large_sidebar_font_setting" class="form-group" >
  <div class="btn-group btn-group-justified"  data-toggle="buttons">
    <label class="btn btn-default" data-setting="no" >
      <input type="radio" name="options" autocomplete="off">
      <img class="example_img" src="images/sidebar-preview-default.png" width="56" height="66">
      Normal
      </label>
    <label class="btn btn-default" data-setting="yes" >
      <input type="radio" name="options" autocomplete="off">
      <img class="example_img" src="images/sidebar-preview-large.png" width="56" height="66">
      Large
      </label>
  </div>
</div>
