<optgroup label="None">
<option value="0">Empty</option>
</optgroup>
<optgroup label="Time & Date">
<option value="3">Alternate Time Zone</option>
<option value="5">Seconds</option>
<option value="11">Swatch™ Internet Time</option>
<option value="4">Today's Date</option>
<option value="6">Week Number</option>
</optgroup>
<optgroup label="Weather">
<option value="7">Current Weather</option>
<option value="8">Today's Forecast</option>
<option value="13">UV Index</option>
</optgroup>
{% if health %}
<optgroup label="Health">
<option value="9">Sleep</option>
<option value="10">Steps</option>
{% if hrm %}
<option value="12">Heart Rate</option>
{% endif %}
{% endif %}
</optgroup>
<optgroup label="Status">
<option value="2">Battery</option>
</optgroup>


