<option value="0">None</option>
<option value="3">Alternate Time Zone</option>
<option value="2">Battery</option>
{% if health %}
<option value="10">Health (Steps &amp; Sleep)</option>
{% endif %}
<option value="11">Internet Time (Beats)</option>
<option value="5">Seconds</option>
<option value="4">Today's Date</option>
<option value="7">Weather: Current</option>
<option value="8">Weather: Forecast</option>
<option value="6">Week Number</option>
<option value="9">Current Time (by Jajunk)</option>
